<div id="right-sidebar" class="sidebar" >
  <div class="col-md-4">



    <div class="btn-group">
      <div>
        <a role="button" >Month</a>
      </div>
      <div>
        <a role="button" >Week</a>
      </div>
      <div>
        <a role="button" >Day</a>
      </div>
    </div>
  </div>
</div>
