
<div class="day">
  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <div>

