<div class="body {{themeClass}} {{smallScreenMenu}}">
  <div class="row">
      <div class="col-1 col-sm-1 col-md-1">
        <app-leftsidebar></app-leftsidebar>
      </div>
    <div class="col-11 col-sm-11 col-md-11">
        <app-header></app-header>
        <app-index></app-index>
    </div>
 </div>
</div>
