<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" >
  <div class="sidebar-scroll">
    EntryCoord
        <div class="tab-content p-l-0 p-r-0">
            <nav id="left-sidebar-nav" class="sidebar-nav">
              <ul id="main-menu" class="metismenu" *ngFor="let menu of menus">
                <li [ngClass]="{'active':currentActiveMenu == menu.menu_title }">
                  <a class="has-arrow" (click)="activeInactiveMenu(menu.menu_title)"><i class="icon-lock"></i>
                    <span>{{menu.menu_title}}</span>
                  </a>
                  <ul >
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let childrenmenu of menu.children">

                      <a role="button"  (click)="generateCustomLink(childrenmenu.menu_action,childrenmenu.menu_id,childrenmenu.menu_title)">{{childrenmenu.menu_title}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>

    <!-- Nav tabs -->
    <!-- Tab panes -->


  </div>

</div>
