.sidebar {
  border-style: solid;
  left: 0%;
  right: 2%;
  top: 0%;
  bottom: 7.69%;
  background: #333333;
  color: grey;
  background-color: black;
}
.tab-pane {
  border-style: solid;
  left: 0%;
  right: 2%;
  top: 0%;
  bottom: 7.69%;
  background: #333333;
}
a {
  color: grey;
}
ul {
  border-style: solid;
  left: 0%;
  right: 2%;
  top: 0%;
  bottom: 7.69%;
  background: #333333;
  color: grey;
  background-color: black;
}
