<div class="row">
  <div class="col-11 col-sm-11 col-md-11">
    <div [ngSwitch]="view">
      <day *ngSwitchCase="CalendarView.Day"></day>
      <week *ngSwitchCase="CalendarView.Week"></week>
      <month *ngSwitchCase="CalendarView.Month"></month>
    </div>
  </div>

  <div class="col-1 col-sm-1 col-md-1">
          <a role="button"
             (click)="setView(CalendarView.Month)"
             [class.active]="view === CalendarView.Month"
          >Month</a>
          <a role="button"
             (click)="setView(CalendarView.Week)"
             [class.active]="view === CalendarView.Week"
          >Week</a>
          <a role="button"
             (click)="setView(CalendarView.Day)"
             [class.active]="view === CalendarView.Day"
          >Day</a>
      </div>
  </div>

