//* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Crete+Round:400italic&subset=latin,latin-ext);

.btn-infoblock {
  color: #ffffff;
  background-color: #b17c49;
  border-color: #4cae4c;
}

.ui-state-hover a{
  cursor : pointer;
}

.fluid-width-video-wrapper{
  padding-top:57% !important;
}



@media (min-width: 768px) {
  .container-wrapper {
    max-width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container-wrapper {
    max-width: 970px !important;
  }
}

@media (min-width: 1200px) {
  .container-wrapper {
    max-width: 1170px !important;
  }
}
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: black;
  padding: 15px;
}
